* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.display_none {
  display: none;
}
body {
  background-image: url(./assets/train_mode_bg.jpg);
  font-family: "Balsamiq Sans", cursive;
}
. {
  background-color: rgba(255, 0, 0, 0.2);
}

.main_wrapper {
  max-width: 1250px;
  min-height: 90vh;

  margin: 0 auto;

  color: bisque;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.start_button {
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  position: absolute;

  top: 175px;
  right: 20vw;
}
.game_button {
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  position: absolute;

  top: 175px;
  left: 20vw;
}
.button_link {
  position: absolute;

  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  border: 4px solid #fff;
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.button_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1366ff, #ff0b6d);
  z-index: -1;
  border-radius: 60px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
.button_link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.category_header {
  position: absolute;

  top: 50px;
}

.aside_panel {
  position: fixed;
  left: -320px;
  top: 0px;
  font-family: "Nerko One", cursive;
  width: 320px;
  height: 100vh;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  z-index: 10;
  overflow: hidden;
}
.aside_header {
  color: bisque;
  font-size: 3em;
}
.category_list_item,
.category_list_item a {
  font-size: 1.5em;
  color: bisque;
  text-decoration: none;
  margin: 10px 10px;
}
.category_list_item:nth-child(1)::after {
  position: relative;
  top: 10px;
  content: "";
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/menu_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(2)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/food_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(3)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/transport_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(4)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/animals_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(5)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/profession_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(6)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/actions_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(7)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/weather_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(8)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/school_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.category_list_item:nth-child(9)::after {
  content: "";
  position: relative;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(./assets/illness_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.category_list_item a:hover {
  font-size: 1.6em;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

.burger_button {
  position: fixed;
  z-index: 11;
  left: 25px;
  top: 39px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  cursor: pointer;
}
.burger_button_open {
  left: 265px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.burger_button span {
  display: block;
  background-color: bisque;
  border: 3px solid bisque;
  border-radius: 5px;
  margin-top: 5px;
  width: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.close_line_one {
  position: relative;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  top: 9px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.close_line_two {
  transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.close_line_three {
  opacity: 0;
}
.open_aside {
  left: 0px;
}

.category_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  min-height: 600px;
  margin-top: 200px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.category_card {
  width: 270px;
  height: 250px;
  margin: 15px 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.category_card:hover {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.img_box {
  overflow: hidden;
  height: 125px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.text_box {
  text-align: center;

  font-size: 1.5em;
}

.current_category_item {
  color: #ff0b6d;
}
.category_item {
  position: relative;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.blocking_box {
  position: absolute;
  width: 310px;
  height: 280px;
  z-index: 3;
}
.block_for_game_mode {
  position: absolute;
  width: 310px;
  height: 100%;
  z-index: 3;
  cursor: pointer;

  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}
.block_for_game_mode:hover {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}
.reverse_button {
  position: absolute;
  z-index: 4;
  bottom: 5px;
  left: 20px;

  width: 30px;
  height: 30px;
  background-image: url(./assets/translate_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 0.6;
}

.reverse {
  transform: rotateY(180deg);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.game_mode_block_box {
  font-size: 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.visualy_hidden {
  font-size: 0px;
  z-index: -10;
  width: 0px;
  height: 0px;
  position: absolute;
}
.checked {
  background-color: rgba(0, 0, 0, 0.5);
}

.finish_wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish_block {
  text-align: center;
  backdrop-filter: blur(10px);
  color: #d0cccd;
  height: 320px;
  width: 320px;
}
.finish_img {
  width: 220px;
  margin-top: 30px;
}
.footer {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  font-size: 1.2em;
  color: bisque;
  padding: 0px 20px;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 186, 101);
}
.footer a:hover {
  color: #1366ff;
  text-decoration: underline;
}
.author_info {
  display: flex;
  flex-direction: column;
}
.cources_image {
  width: 50px;
}
.star_block {
  position: fixed;
  z-index: 5;
  /* background-color: #a8dd45; */
  max-height: 240px;
  top: 90px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrong_star {
  background-image: url(./assets/wrong_star.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.corr_star {
  background-image: url(./assets/correct_star.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
/* 
        ANIMATE TOGGLE
*/

.smile-rating-container {
  position: relative;
  height: 10%;
  min-width: 220px;
  max-width: 520px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  top: 30px;
}

.submit-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}
.rating-label {
  position: relative;
  font-size: 1.6em;
  text-align: center;
  flex: 0.34;
  z-index: 6;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  transition: 500ms;
  display: block;
  width: 30px;
  height: 50px;
}

.rating-label-game {
  left: -45px;
  text-align: right;
  text-shadow: 10px 5px 10px #d0cccd;
}
.rating-label-train {
  left: 55px;
  text-align: left;
  color: #ffffff;
  text-shadow: 10px 5px 10px #d0cccd;
}
.smile-rating-container input {
  display: none;
}

.toggle-rating-pill {
  position: relative;
  height: 65px;
  width: 165px;
  background: #d0cccd;
  border-radius: 500px;
  transition: all 500ms;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  z-index: 6;
  cursor: pointer;
}

.smile-rating-toggle {
  position: absolute;
  width: 54px;
  height: 54px;
  background-color: white;
  left: 182px;
  border-radius: 500px;
  transition: all 500ms;
  z-index: 7;
}
.rating-eye {
  position: absolute;
  height: 12px;
  width: 8px;
  top: 22px;
  background: #d0cccd;
  border-radius: 500px;
  z-index: 7;
  transition: all 440ms;
  animation: blink-eye 3s infinite;
}
.game_type_card {
  height: auto;
}

@keyframes blink-eye {
  0% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  20% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  40% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  60% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  80% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  90% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
  95% {
    height: 2px;
    width: 8px;
    top: 30px;
  }
  100% {
    height: 12px;
    width: 8px;
    top: 22px;
  }
}
.rating-eye-left {
  left: 192px;
}
.rating-eye-right {
  left: 216px;
}

.mouth {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 7;
  border: 4px solid #d0cccd;
  border-radius: 50%;
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 36px;
  left: 206px;
  transition: all 500ms;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/*
  Toggle Changes
  */

#train:checked ~ .rating-label-game {
  color: #b1b1b1;
}
#train:checked ~ .rating-label-train {
  color: #df8a8a;
}
#train:checked ~ .toggle-rating-pill {
  background-color: #df8a8a;
}
#train:checked ~ .rating-eye {
  background-color: #df8a8a;
}
#train:checked ~ .mouth {
  border-color: #df8a8a;
}

#game:checked ~ .rating-label-train {
  color: #b1b1b1;
}
#game:checked ~ .mouth {
  border: 4px solid #00b9ee;
  border-bottom-color: rgba(1, 1, 1, 0);
  border-right-color: rgba(1, 1, 1, 0);
  border-left-color: rgba(1, 1, 1, 0);
  top: 23px;
  left: 291px;
  transform: rotateX(180deg);
  border-radius: 100%;
}

#game:checked ~ .rating-label-game {
  color: #00b9ee;
}
#game:checked ~ .smile-rating-toggle {
  left: 282px;
}

#game:checked ~ .rating-eye-left {
  left: 292px;
}
#game:checked ~ .rating-eye-right {
  left: 316px;
}

#game:checked ~ .toggle-rating-pill {
  background-color: #00b9ee;
}

#game:checked ~ .rating-eye {
  background-color: #00b9ee;
}

.rating-label-game:hover,
.rating-label-game:active,
.rating-label-train:hover,
.rating-label-train:active {
  color: #a8dd45;
  text-shadow: #f1b1c1;
  border-color: #a8dd45;
}

/* @media only screen and (max-width: 950px) {
  .start_button {
    top: 230px;
    left: 70vw;
  }
  .game_button {
    top: 230px;
    left: 30vw;
  }
} */

@media only screen and (min-width: 524px) and (max-width: 1290px) {
  .start_button {
    top: 180px;
    left: 70vw;
  }
  .game_button {
    top: 180px;
    left: 30vw;
  }
}

@media only screen and (max-width: 524px) {
  .smile-rating-container {
    position: relative;
    height: 10%;
    width: 290px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    top: 25px;
  }

  .submit-rating {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rating-label {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    flex: 0.34;
    z-index: 7;
    font-weight: bold;
    cursor: pointer;
    color: #d0cccd;
    transition: 500ms;
    border: 3px solid #d0cccd;
    border-radius: 15px;
    width: auto;
    height: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    backdrop-filter: blur(10px);
  }

  .rating-label-game {
    top: 50px;
    left: -58px;
    text-align: right;
  }
  .rating-label-train {
    top: 50px;
    left: 50px;
    text-align: left;
    color: #222;
  }
  .smile-rating-container input {
    display: none;
  }

  .toggle-rating-pill {
    position: relative;

    height: 65px;
    width: 165px;
    background: #d0cccd;
    border-radius: 500px;
    transition: all 500ms;
  }

  .smile-rating-toggle {
    position: absolute;
    width: 54px;
    height: 54px;
    background-color: white;
    left: 65px;
    border-radius: 500px;
    transition: all 500ms;
    z-index: 7;
  }
  .rating-eye {
    position: absolute;
    height: 12px;
    width: 8px;
    background: #d0cccd;
    border-radius: 500px;
    top: 22px;
    z-index: 7;
    transition: all 440ms;
  }
  .rating-eye-left {
    left: 69px;
  }
  .rating-eye-right {
    left: 85px;
  }

  .mouth {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 7;
    border: 4px solid #d0cccd;
    border-radius: 50%;
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 36px;
    left: 69px;
    transition: all 500ms;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  /*
    Toggle Changes
    */

  #train:checked ~ .rating-label-train {
    color: #e09d9d;
    border-color: #e09d9d;
  }
  #train:checked ~ .mouth {
    left: 75px;
  }
  #game:checked ~ .rating-label-train {
    color: #d0cccd;
  }
  #game:checked ~ .mouth {
    border: 4px solid #00b9ee;
    border-bottom-color: rgba(1, 1, 1, 0);
    border-right-color: rgba(1, 1, 1, 0);
    border-left-color: rgba(1, 1, 1, 0);
    top: 23px;
    left: 175px;
    transform: rotateX(180deg);
    border-radius: 100%;
  }

  #game:checked ~ .rating-label-game {
    color: #18beff;
    border-color: #18beff;
  }
  #game:checked ~ .smile-rating-toggle {
    left: 164px;
  }

  #game:checked ~ .rating-eye-left {
    left: 175px;
  }
  #game:checked ~ .rating-eye-right {
    left: 190px;
  }

  #game:checked ~ .toggle-rating-pill {
    background-color: #00b9ee;
  }

  #game:checked ~ .rating-eye {
    background-color: #00b9ee;
  }
  .rating-label:hover,
  .rating-label:active {
    color: #ffee00;
    text-shadow: #ffee00;
  }

  .category_block {
    margin-top: 270px;
  }
  .category_header {
    font-size: 1em;
  }
  .start_button {
    top: 240px;
    left: 46vw;
  }
  .game_button {
    top: 160px;
    left: 46vw;
  }

  .category_header {
    position: absolute;

    top: 70px;
  }
  .footer {
    font-size: 1em;
  }
}
